
              
.video-title a{
            margin-top:0;
            font-size:14px;
            font-weight:500;
            line-height:20px;
            margin-bottom:10 px;
            text-decoration: none;
            color:black;
            }
            .thumbnail{
                width:100%;
                
            }       
            
            .video-preview{
                width:300px;
                display:inline-block;
                vertical-align:top;
                margin-right:15px;   
            }
            .video-info-grid{
                display:grid;
                grid-template-columns: 50px 1fr;
                column-gap:10px;
            }
            .channel-picture{
                display:inline-block;
                position:relative;
                width:50px;
                vertical-align:top;
            }
            
            .video-info{
                display:inline-block;
                width:245px;
                cursor:pointer;
            }
            .profile-picture{
                width:36px;
                border-radius:40px;
                cursor:pointer;
            }
            .channel-tooltip{
                position:absolute;
                top: 55px;
                left:0;

                background-color: white;
                box-shadow:2px 2px 10px rgba(0,0,0,0.2);
                width: 220px;
                padding: 12px;
                border-radius: 8px;

                display: flex;
                align-items: center;
                gap: 10px;

                box-shadow: 0 4px 12px rgba(0,0,0,0.15);

                opacity: 0;
                pointer-events: none;
                transition: opacity 0.2s ease;
            }
            .channel-picture:focus-within .channel-tooltip {
             opacity: 1;
             pointer-events:auto;
            }

            /* Tooltip image */
            .tooltip-picture {
            width: 50px;
            border-radius: 50%;
            }

            /* Tooltip text */
            .tooltip-name {
            font-weight: bold;
            margin: 0;
            }

            .tooltip-subs {
            color: gray;
            margin: 2px 0 0 0;
            font-size: 14px;
            }

            .thumbnail-row{
                margin-bottom:8px;
                position:relative;
            }
            .video-author{
                font-size:12px;
                color:rgb(96,96,96);
            }
            .video-stats{
                font-size:12px;
                color:rgb(96,96,96);
            }
            .video-grid{
                display:grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap:50px;
 
            }
            @media(max-width:750px){
                .video-grid{
                    grid-template-columns: 1fr 1fr;

                }
            }
            @media(min-width:751px) and (max-width:999px){
                .video-grid{
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
            @media(min-width:1000px){
                .video-grid{
                     grid-template-columns: 1fr 1fr 1fr;
                }
            }
            .video-time{
                font-family: Roboto,Arial;
                font-size:12px;
                font: weight 500px;
                background-color: black;
                color:white;
                position:absolute;
                bottom:8px;
                right:5px;
                padding:4px ;
                border-radius: 2px;
            }